.container-help {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    padding: 42px;
    margin-left: 420px;
}

h1 {
    font-size: 2.5em;
    margin: 20px 0;
    margin-top: 50px;
    color: #60BFFB;
}

a {
    color: #50A6FF;
}
#help{
    font-size: 1.5em;
    margin: 10px 0;
}

a:hover {
    text-decoration: underline;
}

.search-bar {
    margin: 20px 0;
}

.search-bar input {
    width: 97%;
    padding: 10px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    outline: none;
}

.accordion {
    background-color: #121212;
    border-radius: 5px;
    margin: 10px 0;
    padding: 10px;
    text-align: left;
    cursor: pointer;
    margin-top: 40px;
}

.accordion:hover {
    background-color: #1e1e1e;
}

.accordion-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2em;
}

.accordion-title span {
    font-size: 1.5em;
}

.accordion-content {
    display: none;
    padding: 10px 0;
    font-size: 0.9em;
}

.accordion.open .accordion-content {
    display: block;
}


.accordion.hidden {
    display: none;
}
@media (min-width: 768px) and (max-width: 1024px){
    .header{
        margin-left: 20px;
    }
    .container-help {
        margin-left: 150px;
    }
    #Sign{
        display: none;
    }
    #Log{
        display: none;
    }
    .search input {
        width: 200px;
        height: 20px;
        margin-left: 220px;
    }
    .artist-card h3 {
        margin: 8px 0 5px;
        font-size: 10px;
    }

    .artist-card {
        width: 130px;
    }

    .sidebar_logo img {
        width: 120px;
        height: 120px;
        border-radius: 100%;
    }

    .sidebar {
        width: 200px;
        height: 100%;
    }

    .sidebar_menu {
        font-size: 24px;
        margin-top: 70px;
    }
    .accordio{
        font-size: 18px;
        margin-top: 30px;
    }
    .search-bar{
        margin-left: 140px;
        width: 300px;
    }
    .accordion-title{
        font-size: 16px;
        margin-left: 130px;
    }
    .accordion-content{
        font-size: 14px;
        margin-left: 130px;
    }
}
@media (max-width: 767px) {
    .header {
        margin-left: 10px;
    }
    .container-help {
        margin-left: 50px;
    }
    #Sign, #Log {
        display: none;
    }
    .search input {
        width: 150px;
        height: 20px;
        margin-left: 20px;
    }
    .artist-card h3 {
        margin: 5px 0 3px;
        font-size: 8px;
    }
    .artist-card {
        width: 100px;
    }
    .sidebar_logo img {
        width: 80px;
        height: 80px;
        border-radius: 50%;
    }
    .sidebar {
     display: none;
        
    }
    .sidebar_menu {
        font-size: 18px;
        margin-top: 50px;
    }
    .accordio {
        font-size: 14px;
        margin-top: 20px;
    }
    .search-bar {
        margin-left: 20px;
        width: 200px;
    }
    .accordion-title {
        font-size: 14px;
        margin-left: 10px;
    }
    .accordion-content {
        font-size: 12px;
        margin-left: 10px;
    }
}
