/* Name Singer Section */
main{
    width: 100%;
    position:static;
    padding-top: 60px;
    
}

h1 {
    font-size: 24px;
    margin-bottom: 16px;
    color: #f0f0f0;
    text-align: start;
    margin-left: 320px;
    margin-top: 30px;
    margin-bottom: 30px;
    gap: 10px;
}

/* Card Container for New Releases */
.card-artist {
    display: flex;
    gap: 10px;
    margin-left: 320px;
    scroll-behavior: smooth;
    overflow: hidden;

}
p{
    font-size: 14px;
    
}
.cards {
    border-radius: 8px;
    width: 180px;
    text-align: center;
    padding: 10px;
}

.cards img {
    width: 150px;
    height: 150px;
    border-radius: 8px;
    object-fit: cover;
    margin-bottom: 8px;
}


.cards br {
    margin-bottom: 4px;
}

/* Additional Styling */
.name-singer {
    display: flex;
    gap: 10px;
    padding: 16px;
    overflow: hidden;
    scroll-behavior: smooth;
    margin-left: 320px;
    background-color: #121212;
    margin-top: 10px;
}

.name img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 8px;
    display: flex;
}

.nameSingers {
    text-align: center;
    color: #ccc;
    font-size: 18px;
    margin-top: 6px;
    font-weight: bold;
}

#popularSongs, #hotPlaylists, #khmerAlbums, #newReleasePlaylists,.nameSinger{
    font-size:10px;
    color: rgb(97, 96, 96);
    gap: 7px;
}
div{
    color: #dfcfcf;
}
btn{
    background: rgb(6, 177, 207);
    font-size: 12px;
    padding:5px 12px;
    border: none;
    border-radius: 4px;
}
@media (max-width: 768px){
   
    .sisebar{
        width: 150px;
    }
    .search input {
        width: 180px;
        height: 20px;
        margin-left: 200px;
    }
    .bg-dark {
        width: calc(100% - 250px);
        margin-left: 260px;
        margin-bottom: 60px;
    }
    footer p{
        display: none;
    }   
    .col-md-4mb-4{
        display: none;
    }
    .list-unstyled{
        display: none;
    }
    .text-center {
        display: none;
    }
    footer h5{
        font-size: 5px;
    }

}
@media (max-width: 480px){
    .sidebar_logo img {
        width: 90px;
        height: 90px;
        margin-left: 10px;
    }

    .sidebar {
        width: 150px;
        height: 100%;
    }

    .search input {
        width: 100px;
        height: 10%;
        margin-left: 100px;
    }

    .sidebar_menu {
        margin-top: 40px;
    }

    .sidebar_button {
        font-size: 14px;
        padding: 5px 8px;

    }
    nav ul #Log, #Sign{
     display: none;
        
    }
    .name-singer {
        margin-left: 180px;
        gap: 4px;
       
    }
    
    .name img {
        width: 100px;
        height: 100px;
    }
    .cards img {
        width: 80px;
        height: 80px;
        
    }
    .card-artist {
        margin-left: 190px;
        gap: 3px;
    }
    h1{
        font-size: 18px;
        margin-left: 200px;

    }
    #popularSongs, #hotPlaylists, #khmerAlbums, #newReleasePlaylists,.nameSinger {
        font-size: 6px;
        
    }
}
