.banner img{
    width: 80.9%;
    margin-left: 290px;
    height: 60vh;
}
.header{
    position: sticky;
}
.khmer-songs {
    padding: 20px;
}

.khmer-container,
.foreign-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: center;
    margin-left: 300px;
}

.foreign-container {
    margin-left: 320px;
    width: 75%;
}

.artist-card {
    border-radius: 10px;
    width: 150px;
    margin: 10px;
    text-align: center;
    padding: 10px;
    transition: transform 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.artist-card img {
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.artist-card h3 {
    margin: 10px 0 5px;
}

.artist-card p {
    color: #888;
    margin: 0;
}

.play-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 0;
    transition: background-color 0.3s;
    margin-right: 10px;
}

.play-button:hover {
    background-color: #0056b3;
}

.more-icon {
    margin-left: 20px;
    cursor: pointer;
}

.title {
    margin-left: 300px;
    margin-top: 80px;
}

.title1 {
    margin-left: 320px;
    margin-top: 30px;
}

.title h1 {
    font-size: 2em;
}

.more-options {
    position: absolute;
    background-color: rgba(30, 30, 30, 0.9);
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    display: none;
}

/* Tablet Responsive */
@media (min-width: 768px) and (max-width: 1024px) {
    .search input {
        width: 200px;
        height: 20px;
        margin-left: 220px;
    }
    .banner img{
        width: 80.9%;
        margin-left: 180px;
        height: 50vh;
    }
    .artist-card h3 {
        margin: 8px 0 5px;
        font-size: 10px;
    }

    .artist-card {
        width: 130px;
    }

    .sidebar_logo img {
        width: 120px;
        height: 120px;
        border-radius: 100%;
    }

    .sidebar {
        height: 100%;
    }

    .sidebar_menu {
        font-size: 24px;
        margin-top: 70px;
    }

    .khmer-container,
    .foreign-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        width: 50%;
        margin: 0 auto;
        gap: 3px;
    }

    .khmer-container {
        margin-left: 350px;
    }

    .foreign-container {
        margin-left: 360px;
    }

    .bg-dark {
        width: calc(100% - 300px);
        margin-left: 260px;
        margin-bottom: 60px;
    }
    footer p{
        display: none;
    }   
    .col-md-4mb-4{
        display: none;
    }
    .list-unstyled{
        display: none;
    }
    .text-center {
        display: none;
    }
    footer h5{
        font-size: 5px;
    }
}

/* Mobile Responsive */
@media (max-width: 767px) {
    .khmer-container,
    .foreign-container {
        margin-left: 200px;
        grid-template-columns: repeat(1, 1fr);
    }
    .banner{
        display: none;
    }
    .main-header{
        font-size: 16px;
        width: 240px;
    }
    .title h1{
        font-size: 19px;
    }
    .title {
        font-size: 12px;
        margin-left: 178px;
    }

    .title1 {
        font-size: 10px;
        margin-left: 240px;
    }

    .artist-card {
        width: 190px;
    }
    .khmer-songs{
        padding: 10px;
        margin-left: 80px;
        width: 200px;
    }
    .khmer-container {
        margin-left: 200px;
    }

    .foreign-container {
        margin-left: 200px;
    }

    .sidebar_logo img {
        width: 96px;
        margin-left: 10px;
    }

    .sidebar {
        width: 120px;
        height: 100%;
    }

    .search input {
        width: 200px;
        height: 10%;
        margin-left: 186px;
    }

    .sidebar_menu {
        margin-top: 40px;
    }

    .sidebar_button {
        font-size: 11px;
        padding: 8px 15px;
    }

    nav ul #Log,
    #Sign {
        display: none;
    }

    .bg-dark {
        margin-left: 180px;
        display: none;
    }
    .col-md-4 img {
        width: 50px;
        height: 50px;
    }

    .col-md-4-mb-4 h5 {
        display: none;
    }

    .list-unstyled {
        margin-left: 30px;
    }
    .me-3 {
        margin-left: 10px;
    }
    footer h5,
    p {
        display: none;
    }
    .list-unstyled{
        display: none;
    }
    .bi-linkedin {
        margin-left: 30px;
    }
    .col-md-4-mb-4{
        display: flex;
        gap: 30px;
    }
}
